{
    "presets": [
        "react", 
        [
            "env",
            {
                "targets": {"node": "current"}
            }
        ],
        "stage-0"
    ],
    "plugins": ["babel-plugin-transform-object-rest-spread"]
}